.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 60%;
}

.form h2 {
  font-size: 28px;
  margin: 16px;
  padding: 48px 0;
  text-align: left;
}

.form-container .block {
  border: none;
  border-bottom: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  width: 100%;
}

.form-container input, .form-container select {
  background: white;
  padding: 8px;
}

.form .attr {
  align-items: center;
  display: flex;
  gap: 8px;
}

.form .attr input {
  border: 1px solid gray;
  /* border-radius: 8px; */
  padding: 8px;
}

.form p {
  font-weight: 300;
  text-align: right;
}

.form .image {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
}

.form .image div {
  display: flex;
  flex: 1;
}

.form .image span {
  background-color: black;
  border-radius: 8px 0 0 8px;
  color: white;
  font-size: 14px;
  padding: 4px 8px;
}

.form .image input {
  border: 1px solid gray;
  border-radius: 0 8px 8px 0;
  flex: 1;
  padding: 4px;
}

.form .trunfo {
  align-items: baseline;
  display: flex;
}

.form .trunfo span {
  margin-bottom: 32px;
  margin-left: 8px;
}

.form .btn {
  background-color: blue;
  border: none;
  /* border-radius: 8px; */
  color: white;
  cursor: pointer;
  font-weight: 300;
  padding: 16px;
  text-transform: uppercase;
  width: 120px;
}

.form .btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
